---
import type { Props } from '@astrojs/starlight/props';

import { logos } from 'virtual:starlight/user-images';
import config from 'virtual:starlight/user-config';
const href = '/';

// Determine if the current page is the root, a grants page, or another page
const isGrantPage = Astro.url.pathname.startsWith('/grant');
const isRoot = Astro.url.pathname === '/';
const grantsLinkStyle = isGrantPage ? 'font-weight: bold' : '';
const documentationLinkStyle = (!isRoot && !isGrantPage) ? 'font-weight: bold' : '';

---

<a {href} class="site-title sl-flex">
	{
		config.logo && logos.dark && (
			<>
				<img
					class:list={{ 'light:sl-hidden': !('src' in config.logo) }}
					alt={config.logo.alt}
					src={logos.dark.src}
					width={logos.dark.width}
					height={logos.dark.height}
				/>
				{!('src' in config.logo) && (
					<img
						class="dark:sl-hidden"
						alt={config.logo.alt}
						src={logos.light?.src}
						width={logos.light?.width}
						height={logos.light?.height}
					/>
				)}
			</>
		)
	}
</a>
<span class="site-tabs">
    <a class="tab-link" style={documentationLinkStyle} href="/welcome">DOCUMENTATION</a>
</span>
<span class="site-tabs">
    <a class="tab-link" style={grantsLinkStyle} href="/grants">GRANTS</a>
</span>

<style>
    .site-tabs {
        color: inherit;
        text-decoration: none;
        font-size: 14px;
		align-items: center;
		gap: var(--sl-nav-gap);
		color: var(--sl-color-text-accent);
		text-decoration: none;
		white-space: nowrap;
        padding-top: 7px;
        margin-left: 25px;
    }

    .tab-link  {
        text-decoration: none;
        color: inherit;
    }   

    .tab-link:hover {
        text-decoration: underline;
    }
	.site-title {
		align-items: center;
		gap: var(--sl-nav-gap);
		font-size: var(--sl-text-h4);
		font-weight: 600;
		color: var(--sl-color-text-accent);
		text-decoration: none;
		white-space: nowrap;
	}
	img {
		height: calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y));
		width: auto;
		max-width: 100%;
		object-fit: contain;
		object-position: 0 50%;
	}
</style>
