---
const isDeveloperPage = Astro.url.pathname.startsWith("/developer");
const isGrantPage = Astro.url.pathname.startsWith("/grant");
const isLearnPage = Astro.url.pathname.startsWith("/learn");
const isOperatorPage = Astro.url.pathname.startsWith("/operator");

const developerLinkStyle = isDeveloperPage ? "font-weight: bold" : "";
const grantsLinkStyle = isGrantPage ? "font-weight: bold" : "";
const learnLinkStyle = isLearnPage ? "font-weight: bold" : "";
const operatorLinkStyle = isOperatorPage ? "font-weight: bold" : "";
---

<div class={Astro.props.className}>
    <span class="site-tabs">
        <a class="tab-link" style={learnLinkStyle} href="/learn/overview">LEARN ABOUT DUSK</a>
    </span>
    <span class="site-tabs">
        <a class="tab-link" style={developerLinkStyle} href="/developer/overview"
            >BUILD AND INTEGRATE</a
        >
    </span>
    <span class="site-tabs">
        <a class="tab-link" style={operatorLinkStyle} href="/operator/overview"
            >RUN A NODE</a
        >
    </span>
    <span class="site-tabs">
        <a class="tab-link" style={grantsLinkStyle} href="/grants">APPLY FOR A GRANT</a>
    </span>
</div>

<style>
    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .site-tabs {
        color: inherit;
        text-decoration: none;
        font-size: 14px;
        align-items: center;
        gap: var(--sl-nav-gap);
        color: var(--sl-color-text-accent);
        text-decoration: none;
        white-space: nowrap;
        margin: 0.1rem 0 0.1rem 25px;
    }

    .tab-link {
        text-decoration: none;
        color: inherit;
    }

    .tab-link:hover {
        text-decoration: underline;
    }
</style>
